@model RxFair.Dto.Dtos.FaQsView
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@(Model.Id == 0 ? "Add" : "Edit") FAQ</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="accordian-block border-0">
        <div class="accordian-para acc-show p-0">
            <form id="frmFaqs" asp-action="AddEditFaqs" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" name="Id" />
                <div class="form-row mt-0">
                    <div class="form-group col-md-12">
                        <label for="Question">Question *</label>
                        <input type="text" asp-for="Question" id="Question" name="Question" class="form-control" data-parsley-required data-parsley-trigger="change" data-parsley-maxlength="500">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="Answer">Answer *</label>
                        <textarea asp-for="Answer" id="Answer" name="Answer" class="form-control" rows="4" data-parsley-required data-parsley-trigger="change"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnSave" class="btn btn-outline-primary con_btn active">Save</button>
    <button type="button" class="btn btn-outline-primary con_btn mr-auto" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">

    $("#btnSave").click(function () {
        $('#frmFaqs').parsley().validate();
        if ($("#frmFaqs").parsley().isValid()) {
            $.post("/Admin/Master/AddEditFaqs", $("#frmFaqs").serialize(), function (response) {
                RxFair.HandleResponse(response);
                if (response.status === 1) {
                    closeModal();
                    window.bindFaQsList();
                }
            });
        }
    });
</script>