<?xml version="1.0" encoding="utf-8"?>
<!-- Windows Service -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
      <add name="conn" connectionString ="Data Source=SUN;Initial Catalog=RxFair;User Id=RxFair;Password=$RxFair123!;" />
    </connectionStrings>
  <appSettings>
    <add key="PhysicalUrl" value="http://3.15.121.163" />
    <add key="BasePath" value="E:\Projects\RxFair-TFS\RxFair.WindowsService\EmailTemplate"/>
    <add key="LogFilePrefix" value="output" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ScheduledMonthlyDay" value="1"/>
    <add key="ScheduledDailyTime" value="00:00:00"/>
    <add key="scheduledmonthlytime" value="00:05:00"/>
    <add key="LogFilePrefix" value="output"/>
    <add key="SqlServerName" value="SUN"/>
    <add key="SqlDbaseName" value="RxFair"/>
    <add key="SqlLoginName" value="RxFair"/>
    <add key="SqlPassword" value="$RxFair123!"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>