@{
    ViewData["Title"] = "AboutUs";
}

<!-- breadcrumb_section Start -->
<section class="breadcrumb_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pagi_text">
                    <h3><span>Home</span> / About us</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb_section End -->
<!-- About Section Start -->
<section class="about_sec">
    <div class="container">
        <div class="row">
            <div class="about_text">
                <div>
                    <h3>About ShopRx</h3>
                    <div class="scroll_image">
                        <img src="~/rxfairfrontend/images/scroll.png" alt="scroll">
                    </div>
                    <p>
                        At Shoprx we are committed to delivery the highest level of customer care while offering the lowest prices available. We take pride in giving you a rewarding online experience. When you save time and money then we all accomplished our goals.

                    </p>
                    <p>
                        If you haven't done so already...
                        Please give us a try
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Welcome info Start -->
<section class="welcome_info pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center mrf_b">
                    <img src="~/rxfairfrontend/images/welcome_info.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="welcome_text">
                    <div class="welcome_title">
                        <h3>Welcome to ShopRx</h3>
                    </div>
                    <p>
                        Our staff of pharmacy professionals understands the fustration of ordering through a single vendor or through a phone. We undestand how busy an independent or chain pharamcy may be. We want to help you maximize youe time and money. 
                        So we developed a competitive marketplace just for you.
                    </p>
                    @*<p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...
                    </p>*@
                    @*<button type="button" class="btn btn-outline-primary con_btn">Learn More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome info End -->
<!-- Services Start -->
<section class="services_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service_text">
                    <div class="text-center">
                        <img src="~/rxfairfrontend/images/s1.jpg" alt="" class="img-fluid">
                        <h3>Safety Standards</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mr-t">
                <div class="service_text">
                    <div class="text-center">
                        <img src="~/rxfairfrontend/images/s2.jpg" alt="" class="img-fluid">
                        <h3>Privacy and Security</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mr-t">
                <div class="service_text">
                    <div class="text-center">
                        <img src="~/rxfairfrontend/images/s3.jpg" alt="" class="img-fluid">
                        <h3>Spread the Savings</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->
<!-- Welcome info Start -->
<section class="welcome_info pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 or_t">
                <div class="welcome_text">
                    <div class="welcome_title">
                        <h3>Why Pharmacy Choose Us</h3>
                    </div>
                    <p>
                        Shoprx provides flexible ordering through the use of web services and mobile. Each interface is carefully developed to reduce the amount of time you need to spend on ordering so that you would have more time with your customer.
                    </p>
                   @* <button type="button" class="btn btn-outline-primary con_btn">Learn More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-center mrf_b">
                    <img src="~/rxfairfrontend/images/doctor.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome info End -->
<!-- Welcome info Start -->
<section class="welcome_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center mrf_b">
                    <img src="~/rxfairfrontend/images/doctor3.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="welcome_text">
                    <div class="welcome_title">
                        <h3>Why Distributor Choose Us</h3>
                    </div>
                    <p>
                        Shoprx is safe to use and easy to track your invoices, orders history, and rewards. Our webportal is SSL Secure, which means you can be absolutely sure that your order are secure and private.
                    </p>
                    @*<button type="button" class="btn btn-outline-primary con_btn">Learn More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome info End -->
<!-- Javascript -->

@section scripts {
   
}