@{
    Layout = null;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your Payment Successfully Paid.</strong> </p>
    <hr>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/Account/Login" role="button">Go To Login</a>
    </p>
</div>
