@model RxFair.Dto.Dtos.SubscriptionTypeDto
@{
    Layout = null;
}
<link href="~/rxfairbackend/js/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
<style type="text/css">
    .summernote {
    }
</style>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Subscription Type</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="accordian-block border-0">
        <div class="accordian-para acc-show p-0">
            <form id="frmSubscriptionType" asp-action="EditSubscriptionType" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" name="Id" />
                <div class="form-row mt-0">
                    <div class="form-group col-md-4">
                        <label for="SubscriptionTypeName">Subscription Type *</label>
                        <input type="text" asp-for="SubscriptionTypeName" name="SubscriptionTypeName" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="SubscriptionCharge">Subscription Charge *</label>
                        <input type="number" asp-for="SubscriptionCharge" name="SubscriptionCharge" class="form-control" data-parsley-required data-parsley-trigger="change" data-parsley-pattern="^[0-9]\d*(\.\d+)?$">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ChargedMonthly">Monthly Charge(%) *</label>
                        <input type="number" asp-for="ChargedMonthly" name="ChargedMonthly" class="form-control" data-parsley-required data-parsley-trigger="change" data-parsley-pattern="^[0-9]\d*(\.\d+)?$">
                    </div>
                </div>
                <div class="form-row mt-0">
                    <div class="form-group col-md-4">
                        <label for="Brand">Brand(%) *</label>
                        <input type="text" asp-for="Brand" name="Brand" class="form-control" data-parsley-required data-parsley-trigger="change" data-parsley-pattern="^[0-9]\d*(\.\d+)?$">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Generic">Generic(%) *</label>
                        <input type="number" asp-for="Generic" name="Generic" class="form-control" data-parsley-required data-parsley-trigger="change" data-parsley-pattern="^[0-9]\d*(\.\d+)?$">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Otc">Otc(%) *</label>
                        <input type="number" asp-for="Otc" name="Otc" class="form-control" data-parsley-required data-parsley-trigger="change" data-parsley-pattern="^[0-9]\d*(\.\d+)?$">
                    </div>

                </div>
                <div class="form-row mt-0">
                    <div class="form-group col-md-12">
                        <label for="Description">Description *</label>
                        @Html.HiddenFor(m => m.Description)
                        <div class="summernote">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnSave" class="btn btn-outline-primary con_btn active">Save</button>
    <button type="button" class="btn btn-outline-primary con_btn mr-auto" data-dismiss="modal">Close</button>
</div>

<script src="~/rxfairbackend/js/plugins/summernote/summernote-bs4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.summernote').summernote({
            placeholder: 'Enter Terms & Condition here...',
            height: 200,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
    });
    $("#btnSave").click(function () {
        var body = $.trim($('.summernote').summernote("code"));
        $("#Description").val(body);
        $('#frmSubscriptionType').parsley().validate();
        if ($("#frmSubscriptionType").parsley().isValid()) {
            $.post("/Admin/Subscription/EditSubscriptionType", $("#frmSubscriptionType").serialize(), function (response) {
                RxFair.HandleResponse(response);
                if (response.status === 1) {
                    closeModal();
                    window.bindSubscriptionTypeList();
                }
            });
        }
    });
</script>