@{
    ViewData["Title"] = "Commission Invoice";
}
<main class="app-content">
    <div class="app-title admin_breadcrumb">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Distribution Commission</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Commission Invoice</a></li>
        </ul>
    </div>
    <div class="row pharmacies_form admin_tabel">
        <div class="col-12">
            <div class="database_title">
                <h3>
                    Commission Invoice
                </h3>
            </div>
        </div>
        <div class="col-12">
            <!-- Tab panes -->
            <div class="tab-content pt-0">
                <div class="tile-body">
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-hover table-bordered dataTable no-footer table_bordered_sec" id="dtCommissionInvoice" role="grid" aria-describedby="sampleTable_info">
                            <thead>
                                <tr role="row" class="title_datatable">
                                    <th>Action</th>
                                    <th>Distributor</th>
                                    <th>Invoice Id</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice Amount ($)</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
<script type="text/javascript">
    $(document).ready(function () { bindCommissionTable();});

    function bindCommissionTable() {
        var commissionTable = $("#dtCommissionInvoice").DataTable({
            sAjaxSource: "/Admin/DistributorCommission/GetDistributorCommissionList",
            columns: [
                {
                    data: "id",
                    autoWidth: false,
                    orderable:false,
                    searchable: true,
                    render: function (data, type, row) {
                        content = `<a class="dropdown-item  DownloadInvoice" href="javascript:;"  data-id="${data}"><i class="fa fa-download"   aria-hidden="true"></i>Download Invoice</a>
                                    <a class="dropdown-item  SendInvoice" href="javascript:;"   data-id="${data}"><i class="fa fa-envelope"   aria-hidden="true"></i>Send Invoice Email</a>
                                    <a class="dropdown-item" href="/Admin/DistributorCommission/CommissionInvoicePayment?id=${row.distributorId}&invoiceId=${data}"><i class="fa fa-envelope" aria-hidden="true"></i>View Details</a>`;
                        return dataTableAction(content);
                    }
                },
                {
                    data: "companyName",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "id",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "invoiceDate",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "amount",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "paymentStatus",
                    autoWidth: false,
                    searchable: true,
                    render: function (data, type, row) {
                        var paymentstatus = "";
                        switch (parseInt(data)) {
                            case 1: paymentstatus = "Pending";break;
                            case 2: paymentstatus = "Partial";break;
                            case 3: paymentstatus = "Completed";break;
                        }
                        return paymentstatus;
                    }
                }
            ]
        });
    }

    $(document).on("click", ".DownloadInvoice", function () {
        var commissionHistoryId = $(this).attr("data-id");
        window.location.href = "/Admin/DistributorCommission/DownloadCommissionInvoice/" + commissionHistoryId;
    });
    $(document).on("click", ".SendInvoice", function () {
        var commissionHistoryId = $(this).attr("data-id");
        // window.location.href = "/Admin/DistributorCommission/SendCommissionInvoiceEmail/" + commissionHistoryId;
        $.ajax({
            url: "/Admin/Distributorcommission/SendCommissionInvoiceEmail",
            type: "GET",
            data: { id: commissionHistoryId },
            success: function (response) {
                if (response.status == 1)
                    RxFair.HandleResponse(response);
            },
            error: function (response) {
                    RxFair.Error(response);
            }    
        });   

    });

</script>

}

