/*=====================
    1.General CSS start
==========================*/
body {
    font-family: 'Muli', sans-serif;
    position: relative;
    background: #ffffff;
    font-size: 14px;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
}

h1 {
    font-size: calc(22px + (60 - 26) * ((100vw - 320px) / (1600 - 320)));
}

h2 {
    font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1600 - 320)));
}

h3 {
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1600 - 320)));
}

h4 {
    font-size: calc(16px + (14 - 16) * ((100vw - 320px) / (1600 - 320)));
}

h5 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));
}

h6 {
    font-size: 16px;
}

p {
    font-size: 14px;
    line-height: 1.8em;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

.transition {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.mbf-3 {
    margin-bottom: 30px;
}

.mtf-4 {
    margin-top: 40px;
}

.mtf-2 {
    margin-top: 10px;
}

.box_shadows {
    -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.06);
}

.con_btn {
    padding: 10px 50px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    border-color: #3b5998;
    color: #3b5998;
}

    .con_btn i {
        padding-left: 10px;
    }

    .con_btn:hover {
        background-color: #3b5998;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
        border-color: #3b5998;
    }

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

    .title h3 {
        text-align: center;
        line-height: 50px;
        font-weight: 700;
        margin: 0;
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1600 - 320)));
    }

.navbar {
    background-color: #3b5998;
    padding: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 100%;
}

    .navbar .navbar-brand {
        margin: 0;
        padding: 30px 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    .navbar .navbar-collapse .navbar-nav .nav-item {
        padding: 0 0 0 40px;
    }

        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
            color: white;
            padding: 0;
            letter-spacing: 0.00em;
            font-size: 18px;
            text-transform: capitalize;
            position: relative;
        }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:before, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: -5px;
                background: #fff;
            }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:before {
                left: 0;
            }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after {
                right: 0;
                background: #fff;
                -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
            }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover:before {
                background: #fff;
                width: 100%;
                -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover:after {
                background: transparent;
                width: 100%;
                -webkit-transition: 0s;
                transition: 0s;
            }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active:before {
                background: #fff;
                width: 100%;
                -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            }

            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active:after {
                background: transparent;
                width: 100%;
                -webkit-transition: 0s;
                transition: 0s;
            }

    .navbar .login_btn {
        cursor: pointer;
        color: white !important;
        font-size: 18px;
        text-transform: capitalize;
        padding: 45px 40px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }

        .navbar .login_btn i {
            padding-right: 10px;
        }

    .navbar.fixed {
        position: fixed;
        top: 0;
        left: 0;
        -webkit-animation: smoothScroll 1s forwards;
        animation: smoothScroll 1s forwards;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 1040;
        -webkit-box-shadow: 0px 2px 10px 1px rgba(34, 34, 34, 0.19);
        box-shadow: 0px 2px 10px 1px rgba(34, 34, 34, 0.19);
    }

        .navbar.fixed .navbar-brand {
            padding: 19px 30px;
        }

        .navbar.fixed .login_btn {
            padding: 30px 40px;
        }

@-webkit-keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.main_slider .main-cover {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, white), to(rgba(255, 255, 255, 0))), url(../images/doctor7.jpg);
    background-image: linear-gradient(to bottom right, white 30%, rgba(255, 255, 255, 0) 100%), url(../images/doctor7.jpg);
    width: 100%;
    height: calc(100vh - 105px);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: bottom;
    position: relative;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

    .main_slider .main-cover.cover-two {
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, white), to(rgba(255, 255, 255, 0))), url(../images/doctor4.jpg);
        background-image: linear-gradient(to bottom right, white 30%, rgba(255, 255, 255, 0) 100%), url(../images/doctor4.jpg);
    }

    .main_slider .main-cover.cover-three {
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, white), to(rgba(255, 255, 255, 0))), url(../images/cover1.jpg);
        background-image: linear-gradient(to bottom right, white 30%, rgba(255, 255, 255, 0) 100%), url(../images/cover1.jpg);
    }

    .main_slider .main-cover .main-cover-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: calc(100vh - 105px);
    }

        .main_slider .main-cover .main-cover-text h3 {
            color: #666666;
        }

        .main_slider .main-cover .main-cover-text h1 {
            color: #3b5998;
            font-weight: 700;
            margin: 10px 0px;
            font-size: calc(22px + (48 - 26) * ((100vw - 320px) / (1600 - 320)));
        }

        .main_slider .main-cover .main-cover-text p {
            color: #666666;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.05em;
        }

        .main_slider .main-cover .main-cover-text .con_btn {
            margin-top: 20px;
        }

.about_sec .about_text h3 {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    line-height: 50px;
    font-weight: 700;
    font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1600 - 320)));
}

.about_sec .about_text .scroll_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0;
}

.about_sec .about_text p {
    text-align: center;
    padding: 0 100px;
    font-size: 17px;
    color: #666666;
}

.about_sec .about_text .about_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
}

    .about_sec .about_text .about_btn .pulse {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #cad6fb;
        cursor: pointer;
        -webkit-box-shadow: 0 0 0 rgba(202, 214, 251, 0.4);
        box-shadow: 0 0 0 rgba(202, 214, 251, 0.4);
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
    }

        .about_sec .about_text .about_btn .pulse:hover {
            -webkit-animation: none;
            animation: none;
        }

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
        box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(202, 214, 251, 0.4);
        box-shadow: 0 0 0 20px rgba(202, 214, 251, 0.4);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
        box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
        box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(202, 214, 251, 0.4);
        box-shadow: 0 0 0 20px rgba(202, 214, 251, 0.4);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
        box-shadow: 0 0 0 0 rgba(202, 214, 251, 0);
    }
}

.info_sec {
    background-image: url(../images/text-cover.jpg);
    background-color: black;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

    .info_sec .info_text h2 {
        text-align: center;
        color: white;
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1600 - 320)));
        font-weight: 600;
        letter-spacing: 0.15em;
        padding-bottom: 25px;
    }

    .info_sec .info_text p {
        font-size: 18px;
        text-align: center;
        color: white;
        letter-spacing: 0.07em;
        line-height: 1.7em;
    }

.testimonials .testimonials_cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

    .testimonials .testimonials_cen .scroll_image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 30px 0;
        width: 100%;
    }

    .testimonials .testimonials_cen p {
        padding: 0px 220px;
        margin: 0;
        text-align: center;
        color: #666666;
        letter-spacing: 0.05em;
        font-size: 15px;
        font-weight: 600;
    }

.testimonials .testimonials_sec {
    padding-top: 30px;
    /* owl nav */
    /* removing blue outline from buttons */
}

    .testimonials .testimonials_sec .testimonials_slider {
        position: relative;
        padding: 30px 30px;
        margin: 75px auto 15px;
        background-color: white;
        max-width: 650px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(136, 136, 136, 0.5);
        box-shadow: 0px 0px 15px 0px rgba(136, 136, 136, 0.5);
    }

        .testimonials .testimonials_sec .testimonials_slider img {
            border-radius: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 0%;
            left: 50%;
            width: 100px;
            height: 100px;
        }

        .testimonials .testimonials_sec .testimonials_slider span {
            position: absolute;
            left: 30px;
            top: -95px;
            font-size: 70px;
            color: #3b5998;
        }

        .testimonials .testimonials_sec .testimonials_slider h5 {
            margin: 0;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
            margin-top: 35px;
        }

        .testimonials .testimonials_sec .testimonials_slider p {
            margin: 0;
            color: #666666;
            font-size: 15px;
            letter-spacing: 0.04em;
            font-weight: 600;
            line-height: 30px;
            word-break: break-all;
        }


    .testimonials .testimonials_sec .owl-prev span, .testimonials .testimonials_sec .owl-next span {
        color: #ffffff;
        font-size: 30px;
        background-color: #3b5998;
        padding: 10px 19px;
        border-radius: 5px;
    }

    .testimonials .testimonials_sec .owl-prev span {
        padding-right: 20px;
    }

    .testimonials .testimonials_sec .owl-next span {
        padding-left: 20px;
    }

    .testimonials .testimonials_sec .owl-prev, .testimonials .testimonials_sec .owl-next {
        position: absolute;
        top: 0;
        height: 100%;
    }

    .testimonials .testimonials_sec .owl-prev {
        left: 7px;
    }

        .testimonials .testimonials_sec .owl-prev:hover {
            background-color: transparent;
        }

    .testimonials .testimonials_sec .owl-next {
        right: 7px;
    }

        .testimonials .testimonials_sec .owl-next:hover {
            background-color: transparent;
        }

    .testimonials .testimonials_sec button:focus, .testimonials .testimonials_sec button:active {
        outline: none;
    }

.newsletter_sec {
    background-color: #3b5998;
    padding: 45px 0;
}

    .newsletter_sec .newsletter_text h3 {
        color: white;
        font-weight: 600;
        letter-spacing: 0.03em;
        margin-bottom: 13px;
    }

    .newsletter_sec .newsletter_text p {
        margin: 0;
        color: white;
        letter-spacing: 0.05em;
    }

    .newsletter_sec .news-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 80px;
    }

    .newsletter_sec .signup {
        width: 100%;
        height: 50px;
        background-color: white;
        border: 4px solid white;
        -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.01);
        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.01);
        border-radius: 0.2rem;
    }

        .newsletter_sec .signup form {
            display: block;
            margin: 0;
        }

        .newsletter_sec .signup .email-signup {
            height: 45px;
            padding: 0px 5px 0px 10px;
            width: 76%;
            background-color: white;
            font-size: 16px;
            color: #383838;
            outline-style: none;
            border: none;
            border-radius: 0.2rem;
        }

        .newsletter_sec .signup #btn {
            height: 42px;
            width: 124px;
            background-color: #3b5998;
            border: none;
            font-size: 16px;
            border-radius: 0.2rem;
            float: right;
            color: white;
        }

footer {
    padding: 75px 0;
    background-color: #222222;
}

    footer .footer_title h5 {
        color: white;
        letter-spacing: 0.05em;
        position: relative;
    }

        footer .footer_title h5:after {
            content: "";
            position: absolute;
            background-color: white;
            height: 2px;
            width: 78px;
            left: 0;
            bottom: -20px;
        }

    footer .footer_one {
        padding-top: 40px;
    }

        footer .footer_one ul {
            padding: 0;
            margin: 0;
        }

            footer .footer_one ul li {
                color: #666666;
                padding-bottom: 15px;
                list-style: none;
                letter-spacing: 0.03em;
                max-width: 270px;
                font-weight: 600;
            }

                footer .footer_one ul li a {
                    color: #666666;
                    -webkit-transition: 0.3s ease;
                    transition: 0.3s ease;
                }

                    footer .footer_one ul li a:hover {
                        color: white;
                        -webkit-transition: 0.3s ease;
                        transition: 0.3s ease;
                    }

                footer .footer_one ul li i {
                    padding-right: 10px;
                }

    footer .footer_social {
        padding-top: 40px;
    }

        footer .footer_social ul {
            padding: 0;
            margin: 0;
        }

            footer .footer_social ul li {
                display: inline-block;
                padding-right: 10px;
            }

                footer .footer_social ul li a {
                    border: 1px solid white;
                    border-radius: 50%;
                    color: #c4c4c4;
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    -webkit-transition: 0.3s ease;
                    transition: 0.3s ease;
                }

                    footer .footer_social ul li a:hover {
                        background-color: #c4c4c4;
                        color: #666;
                        -webkit-transition: 0.3s ease;
                        transition: 0.3s ease;
                    }

                    footer .footer_social ul li a i {
                        line-height: 40px;
                    }

.copright_sec {
    padding: 20px 0;
    background-color: #222222;
    border-top: 1px solid rgba(255, 255, 255, 0.11);
}

    .copright_sec p {
        margin: 0;
        color: #666666;
        letter-spacing: 0.05em;
    }

.tap-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 8;
    display: none;
    color: #ffffff;
    text-align: center;
    background: #3b5998;
    border: none;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 17px rgba(4, 4, 4, 0.3);
    box-shadow: 0 0 17px rgba(4, 4, 4, 0.3);
}

    .tap-top.top-cls {
        bottom: 30px;
    }

        .tap-top.top-cls i {
            line-height: 35px;
        }

.breadcrumb_section {
    background-image: url(../images/pagination.jpg);
    background-color: black;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 40px 0px;
    border-radius: 0;
}

    .breadcrumb_section .pagi_text h3 {
        color: white;
        letter-spacing: 0.03em;
        margin-bottom: 0;
    }

        .breadcrumb_section .pagi_text h3 span {
            font-weight: 700;
        }

.pharmacies_sec .pharmacies_text h4 {
    color: black;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 600;
    margin-bottom: 15px;
}

.pharmacies_sec .pharmacies_text p {
    color: #666;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-weight: 600;
}

    .pharmacies_sec .pharmacies_text p span {
        color: black;
        font-weight: 700;
    }

.pharmacies_form .sw-toolbar-top {
    display: none;
}

.pharmacies_form .sw-btn-group-extra {
    display: none;
}

.pharmacies_form .smartwizard .sw-toolbar-bottom {
    margin-top: 40px;
}

    .pharmacies_form .smartwizard .sw-toolbar-bottom .sw-btn-group {
        margin-right: 0 !important;
    }

        .pharmacies_form .smartwizard .sw-toolbar-bottom .sw-btn-group .sw-btn-next {
            background-color: #3b5998;
            padding: 10px 45px;
        }

        .pharmacies_form .smartwizard .sw-toolbar-bottom .sw-btn-group .sw-btn-prev {
            background-color: #fff;
            color: black;
            padding: 10px 45px;
        }

.pharmacies_form .smartwizard ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: none;
    margin-bottom: 50px;
}

    .pharmacies_form .smartwizard ul li {
        padding: 0 60px;
        list-style: none;
        color: #3b5998;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.04em;
    }

        .pharmacies_form .smartwizard ul li:last-child a:before {
            display: none;
        }

        .pharmacies_form .smartwizard ul li a {
            color: #333333;
            background-color: #fff;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            font-size: 22px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid rgba(85, 85, 85, 0.7);
            position: relative;
        }

            .pharmacies_form .smartwizard ul li a:before {
                content: "";
                position: absolute;
                width: 240px;
                height: 2px;
                background-color: #ccc;
                z-index: -1;
                left: 30px;
            }

        .pharmacies_form .smartwizard ul li.active a {
            color: #ffffff;
            background-color: #3b5998;
            border: 1px solid #3b5998;
        }

            .pharmacies_form .smartwizard ul li.active a:before {
                background-color: #3b5998;
            }

        .pharmacies_form .smartwizard ul li.done a {
            color: #ffffff;
            background-color: #3b5998;
            border: 1px solid #3b5998;
        }

            .pharmacies_form .smartwizard ul li.done a:before {
                background-color: #3b5998;
            }

.pharmacies_form .smartwizard .smartwizard_title {
    background-color: #fafafa;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 2px solid #ddd;
}

    .pharmacies_form .smartwizard .smartwizard_title .wizard_text h4 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }

    .pharmacies_form .smartwizard .smartwizard_title .wizard_text i {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        background-color: #f2f2f2;
        font-size: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

.pharmacies_form .smartwizard .smartwizard_one {
    -webkit-box-shadow: 0 0 10px rgba(170, 170, 170, 0.7);
    box-shadow: 0 0 10px rgba(170, 170, 170, 0.7);
}

    .pharmacies_form .smartwizard .smartwizard_one form {
        padding: 25px 25px;
        margin: 0;
    }

        .pharmacies_form .smartwizard .smartwizard_one form .form_title h3 {
            border-bottom: 1px solid #ddd;
            padding-bottom: 15px;
            margin: 0;
            position: relative;
        }

            .pharmacies_form .smartwizard .smartwizard_one form .form_title h3:after {
                position: absolute;
                content: "";
                width: 170px;
                height: 4px;
                background-color: #3b5998;
                bottom: -2px;
                left: 0;
            }

        .pharmacies_form .smartwizard .smartwizard_one form .form-row {
            margin-top: 15px;
        }

            .pharmacies_form .smartwizard .smartwizard_one form .form-row .form-group {
                margin-bottom: 20px;
                padding: 0 10px;
            }

                .pharmacies_form .smartwizard .smartwizard_one form .form-row .form-group .form-control {
                    padding: 10px 10px;
                    -webkit-box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.3);
                    box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.3);
                }

                .pharmacies_form .smartwizard .smartwizard_one form .form-row .form-group select {
                    height: 47px;
                    font-size: 12px;
                    letter-spacing: 0.05em;
                    color: #777;
                    font-weight: 700;
                }

                .pharmacies_form .smartwizard .smartwizard_one form .form-row .form-group .upload_btn {
                    border: 1px solid #3b5998;
                    color: #3b5998;
                }

                    .pharmacies_form .smartwizard .smartwizard_one form .form-row .form-group .upload_btn:hover {
                        background-color: #3b5998;
                        color: #fff;
                    }

            .pharmacies_form .smartwizard .smartwizard_one form .form-row .note p {
                margin: 0;
                color: #3b5998;
                font-size: 13px;
                padding: 20px 20px;
                border: 1px solid #3b5998;
                border-radius: 5px;
                font-weight: 600;
                letter-spacing: 0.03em;
                background-color: #f5f7fa;
                margin: 10px 10px;
            }

            .pharmacies_form .smartwizard .smartwizard_one form .form-row .form_btn .con_btn {
                padding: 10px 30px;
            }

                .pharmacies_form .smartwizard .smartwizard_one form .form-row .form_btn .con_btn.active {
                    background-color: #3b5998;
                    border-color: #3b5998;
                }

        .pharmacies_form .smartwizard .smartwizard_one form h4 {
            font-size: 18px;
            color: #333;
            font-weight: 600;
            margin-top: 35px;
            margin-bottom: 0;
        }

    .pharmacies_form .smartwizard .smartwizard_one .certificate_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 70vh;
    }

        .pharmacies_form .smartwizard .smartwizard_one .certificate_text h2 {
            color: #3b5998;
            font-weight: 600;
            margin-top: 10px;
            letter-spacing: 0.05em;
        }

        .pharmacies_form .smartwizard .smartwizard_one .certificate_text p {
            font-size: 18px;
            max-width: 410px;
            font-weight: 600;
            margin: 0 auto;
            text-align: center;
        }

.contactus .contact_form {
    padding: 30px 30px;
    background-color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

    .contactus .contact_form h3 {
        text-align: center;
        color: #333333;
        font-weight: 700;
        font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));
    }

    .contactus .contact_form p {
        text-align: center;
        color: #666666;
        letter-spacing: 0.01em;
        font-weight: 600;
    }

    .contactus .contact_form .con_btn {
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: auto;
    }

.contactus .rx_map {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

    .contactus .rx_map iframe {
        border: 0;
        width: 100%;
        min-height: 340px;
    }

.contactus .contact_detail {
    -webkit-box-shadow: 0 0 10px rgba(170, 170, 170, 0.4);
    box-shadow: 0 0 10px rgba(170, 170, 170, 0.4);
    margin-bottom: 30px;
}

    .contactus .contact_detail .contact_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 15px 15px;
        background-color: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    }

        .contactus .contact_detail .contact_title i {
            background-color: #eee;
            width: 50px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.4);
        }

        .contactus .contact_detail .contact_title h4 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333333;
            font-size: 17px;
            margin-left: 20px;
            font-weight: 600;
            letter-spacing: 0.03em;
            margin-bottom: 0;
        }

    .contactus .contact_detail .c_detail {
        padding: 20px 20px;
    }

    .contactus .contact_detail .con_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .contactus .contact_detail .con_text i {
            color: #bbb6b6;
            background-color: #f2f2f2;
            width: 45px;
            height: 45px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 16px;
        }

        .contactus .contact_detail .con_text h5 {
            margin: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #666666;
            font-weight: 600;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
            margin-left: 15px;
        }

.blog .blog_sec .row > div:nth-last-child(-n + 3) .blog_detail {
    margin-top: 30px;
}

.blog .blog_detail {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

    .blog .blog_detail h6 {
        text-transform: capitalize;
        background-color: #3b5998;
        color: white;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
        font-size: 11px;
        letter-spacing: 0.03em;
    }

    .blog .blog_detail .blog_text {
        padding: 15px 12px;
    }

        .blog .blog_detail .blog_text h4 {
            font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1600 - 320)));
            color: #333333;
            font-weight: 600;
            margin: 0;
        }

        .blog .blog_detail .blog_text i {
            color: #3b5998;
            font-size: 16px;
        }

        .blog .blog_detail .blog_text h5 {
            margin: 0;
            color: #666666;
            font-size: 14px;
            letter-spacing: 0.03em;
            margin-left: 5px;
        }

        .blog .blog_detail .blog_text .blog-btn {
            padding: 8px 45px;
        }

            .blog .blog_detail .blog_text .blog-btn:hover i {
                color: white;
            }

    .blog .blog_detail:hover {
        border: 1px solid #3b5998;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

        .blog .blog_detail:hover .blog-btn {
            background-color: #3b5998;
            color: white;
        }

            .blog .blog_detail:hover .blog-btn i {
                color: white;
            }

.blog .blog_menu {
    -webkit-box-shadow: 0 0 10px rgba(170, 170, 170, 0.4);
    box-shadow: 0 0 10px rgba(170, 170, 170, 0.4);
}

    .blog .blog_menu .blog_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 15px 15px;
        background-color: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    }

        .blog .blog_menu .blog_title i {
            background-color: #eee;
            width: 50px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.8);
        }

        .blog .blog_menu .blog_title h4 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333333;
            font-size: 17px;
            margin-left: 10px;
            font-weight: 600;
            letter-spacing: 0.03em;
            margin-bottom: 0;
        }

    .blog .blog_menu .blog-sec {
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .blog .blog_menu .blog_headline .headline_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
        position: relative;
        padding: 10px 10px;
        margin-bottom: 20px;
    }

        .blog .blog_menu .blog_headline .headline_title i {
            color: #3b5998;
            font-size: 30px;
        }

        .blog .blog_menu .blog_headline .headline_title h4 {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
            margin-bottom: 0;
            font-weight: 600;
            color: #3b5998;
            margin-left: 10px;
        }

        .blog .blog_menu .blog_headline .headline_title:after {
            content: "";
            position: absolute;
            width: 115px;
            height: 2px;
            background-color: #3b5998;
            bottom: -1px;
            left: 0;
        }

    .blog .blog_menu .blog_headline ul {
        padding: 0;
        margin: 0;
    }

        .blog .blog_menu .blog_headline ul li {
            margin: 0;
            list-style: none;
        }

            .blog .blog_menu .blog_headline ul li i {
                font-size: 22px;
                color: #3b5998;
                padding-right: 10px;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }

            .blog .blog_menu .blog_headline ul li a {
                color: #666666;
                letter-spacing: 0.02em;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }

            .blog .blog_menu .blog_headline ul li:hover a {
                background-color: #3b5998;
                color: white;
                border-radius: 5px;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }

            .blog .blog_menu .blog_headline ul li:hover i {
                color: white;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }

.pagination_sec .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
}

    .pagination_sec .pagination ul {
        padding: 0;
        margin: 0;
    }

        .pagination_sec .pagination ul li {
            margin: 0;
            list-style: none;
            display: inline-block;
        }

            .pagination_sec .pagination ul li a {
                border: 1px solid rgba(0, 0, 0, 0.4);
                color: #3b5998;
                font-size: 22px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }

                .pagination_sec .pagination ul li a.active {
                    background-color: #3b5998;
                    color: white;
                }

                .pagination_sec .pagination ul li a.arrow {
                    border: none;
                    background-color: #e4e4e4;
                    margin: 0 15px;
                }

                .pagination_sec .pagination ul li a:hover {
                    background-color: #3b5998;
                    color: white;
                    -webkit-transition: 0.3s ease;
                    transition: 0.3s ease;
                }

.blog_singel_title {
    margin-top: 30px;
}

    .blog_singel_title h3 {
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
        margin-bottom: 0;
        position: relative;
    }

        .blog_singel_title h3:before {
            content: "";
            position: absolute;
            width: 240px;
            height: 2px;
            background-color: #3b5998;
            bottom: -1px;
            left: 0;
        }

.singel_blog_details .singel_blog_text {
    position: relative;
}

    .singel_blog_details .singel_blog_text .text {
        position: absolute;
        bottom: 0;
        background-color: black;
        width: 100%;
        opacity: .7;
        z-index: 999;
        padding: 15px 20px;
    }

        .singel_blog_details .singel_blog_text .text h3 {
            margin: 0;
            font-size: 18px;
            color: white;
        }

        .singel_blog_details .singel_blog_text .text .date-details {
            margin-left: auto;
        }

            .singel_blog_details .singel_blog_text .text .date-details i {
                color: white;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .singel_blog_details .singel_blog_text .text .date-details h5 {
                color: white;
                margin-bottom: 0;
                font-size: 16px;
                margin-left: 10px;
            }

.singel_blog_details p {
    color: #555555;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 22px;
    margin-top: 20px;
    font-size: 16px;
    word-break: break-all;
}

.welcome_info .welcome_text .welcome_title h3 {
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    margin-bottom: 0;
    position: relative;
}

    .welcome_info .welcome_text .welcome_title h3:before {
        content: "";
        position: absolute;
        width: 240px;
        height: 2px;
        background-color: #3b5998;
        bottom: -1px;
        left: 0;
    }

.welcome_info .welcome_text p {
    color: #555555;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 22px;
    margin-top: 20px;
    font-size: 18px;
}

.welcome_info .welcome_text .con_btn {
    margin-top: 10px;
}

.services_sec {
    background-image: url(../images/trums_condition.jpg);
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

    .services_sec .service_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: white;
        height: 300px;
        -webkit-box-shadow: 0 0 12px rgba(170, 170, 170, 0.5);
        box-shadow: 0 0 12px rgba(170, 170, 170, 0.5);
    }

        .services_sec .service_text .text-center h3 {
            color: #333333;
            font-weight: 600;
            margin-top: 12px;
            margin-bottom: 0;
        }

.faq_info {
    padding-top: 60px;
    padding-bottom: 60px;
}

    .faq_info .faq_text h2 {
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1600 - 320)));
        font-weight: 700;
        color: #222222;
        margin-bottom: 13px;
    }

    .faq_info .faq_text p {
        color: #666666;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.04em;
        padding: 0px 120px;
        margin-bottom: 0;
    }

.faq_sec {
    background-color: #f2f7fb;
}

    .faq_sec .main-heading {
        text-align: center;
        margin: 0 0 0 0;
    }

    .faq_sec .content-wrap {
        padding: 23px 15px;
    }

    .faq_sec hr {
        color: #9a9a9a;
        height: 1px;
        background: #ccc;
        border: 0;
        width: 10%;
        margin: 18px auto 21px;
    }

    .faq_sec .accordian-block {
        padding: 2px 0;
        border: 1px solid #fff;
        margin: 0 0 20px 0;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.03);
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.03);
    }

    .faq_sec .ac-title {
        position: relative;
        cursor: pointer;
        background-color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .faq_sec .ac-title p {
            font-size: 17px;
            font-weight: 600;
            word-wrap: break-word;
            width: 90%;
            color: #414141;
            margin: 0;
            padding: 15px 20px;
            border-radius: 0;
            background-color: #ffffff;
        }

        .faq_sec .ac-title i {
            margin-left: auto;
            width: 55px;
            height: 55px;
            background-color: #3b5998;
            color: white;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 26px;
            margin-right: 5px;
            border-radius: 5px;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
        }

    .faq_sec .accordian-para {
        display: none;
        border-top: none;
        margin: 0px 0 0 0;
    }

    .faq_sec .commn-para-sm {
        font-size: 15px;
        padding: 15px 20px;
        letter-spacing: 0.04em;
        color: #666666;
        margin: 0;
        word-break: break-all;
        font-weight: 500;
        background-color: white;
    }

    .faq_sec .ac-title.acc-active p {
        color: #3b5998 !important;
    }

    .faq_sec .acc-active {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    }

    .faq_sec .cross-icon.fa-angle-down:before {
        content: "\f106";
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

.search_padding {
    padding: 45px 0;
}

    .search_padding .faq_search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 80px;
    }

        .search_padding .faq_search .signup {
            width: 100%;
            height: 64px;
            background-color: white;
            border: 4px solid white;
            -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.03);
            border-radius: 0.2rem;
        }

            .search_padding .faq_search .signup form {
                display: block;
                margin: 0;
            }

            .search_padding .faq_search .signup .faq-search {
                height: 55px;
                padding: 0px 5px 0px 15px;
                width: 80%;
                background-color: white;
                font-size: 18px;
                color: #383838;
                outline-style: none;
                border: none;
                border-radius: 0.2rem;
            }

            .search_padding .faq_search .signup #btn {
                height: 55px;
                width: 145px;
                background-color: #3b5998;
                border: none;
                font-size: 18px;
                border-radius: 0.2rem;
                float: right;
                color: white;
            }

.model_data {
    padding: 40px 10px;
}

    .model_data svg {
        width: 140px;
        margin-bottom: 15px;
    }

        .model_data svg g {
            fill: #f6bb83;
        }

    .model_data h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.07em;
        line-height: 36px;
        color: #333333;
    }

    .model_data .con_btn_pop {
        color: white;
        width: 200px;
        height: 50px;
        margin: 0 5px;
        background-color: #3b5998;
    }

        .model_data .con_btn_pop.btn-danger {
            background-color: #ea4235;
        }

.login_model .modal-body {
    padding: 0;
}

.login_model .login_form {
    padding: 70px 25px;
}

    .login_model .login_form .form-group .form-control {
        padding: 10px 10px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.3);
        box-shadow: 0 2px 5px 0 rgba(170, 170, 170, 0.3);
    }

    .login_model .login_form .form-group a {
        color: #3b5998;
        font-weight: 600;
    }

    .login_model .login_form .note {
        padding: 20px 20px;
        border: 1px solid #3b5998;
        border-radius: 5px;
        background-color: #f5f7fa;
        margin-top: 25px;
    }

        .login_model .login_form .note p {
            margin: 0;
            color: #3b5998;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.03em;
        }

        .login_model .login_form .note h5 {
            margin-top: 10px;
            margin-bottom: 0;
            color: #3b5998;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.03em;
        }

.login_model .modal-dialog {
    max-width: 1140px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login_model .model_title {
    margin-bottom: 20px;
}

    .login_model .model_title h3 {
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
        margin-bottom: 0;
        position: relative;
        display: inline-block;
    }

        .login_model .model_title h3:before {
            content: "";
            position: absolute;
            width: 240px;
            height: 2px;
            background-color: #3b5998;
            bottom: -1px;
            left: 0;
        }

.login_model .info_model {
    padding: 70px 25px;
    background-image: url(../images/pop_login.jpg);
    background-color: black;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

    .login_model .info_model .close {
        position: absolute;
        top: 15px;
        right: 24px;
        color: white;
        font-size: 30px;
    }

    .login_model .info_model .loginfo_title {
        text-align: center;
        margin-bottom: 25px;
    }

        .login_model .info_model .loginfo_title h3 {
            color: white;
            font-weight: 600;
            padding-bottom: 20px;
            border-bottom: 1px solid white;
            margin-bottom: 0;
            position: relative;
            display: inline-block;
        }

    .login_model .info_model p {
        color: white;
        letter-spacing: 0.05em;
        margin-bottom: 10px;
    }

        .login_model .info_model p span {
            border-bottom: 1px solid white;
        }

.terms_info {
    padding-top: 60px;
    padding-bottom: 60px;
}

    .terms_info .terms_text h2 {
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1600 - 320)));
        font-weight: 800;
        color: #222222;
        margin-bottom: 13px;
    }

        .terms_info .terms_text h2 span {
            color: #3b5998;
            text-transform: uppercase;
        }

    .terms_info .terms_text p {
        color: #666666;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.03em;
        margin-bottom: 0;
    }

.termsandcon .turms_con h3 {
    color: #3b5998;
    font-weight: 700;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

    .termsandcon .turms_con h3:after {
        content: "";
        position: absolute;
        width: 230px;
        height: 2px;
        background-color: #3b5998;
        left: 0;
        bottom: -2px;
    }

.termsandcon .turms_con p {
    color: #666666;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0;
    line-height: 25px;
    margin-top: 10px;
}

.termsandcon .turms_con ul {
    margin-top: 20px;
    padding-left: 30px;
}

    .termsandcon .turms_con ul li {
        position: relative;
        list-style: none;
        color: #333;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }

        .termsandcon .turms_con ul li:before {
            content: '\f0da';
            position: absolute;
            left: -20px;
            color: #3b5998;
            font-family: 'fontawesome';
            top: 2px;
        }


.faq_search .parsley-errors-list {
    position: absolute;
    bottom: -25px;
}

.news-center .parsley-errors-list {
    position: absolute;
    bottom: -25px;
}
.popover {
    max-height:100px;
    overflow:hidden;
    overflow-y:auto;
}

.login-hov{
    color: white;
    font-weight: 600;
}

.login-hov:hover {
    color: blue;
}

.singel_blog_details .owl-dots{
    display: none;
}

.singel_blog_details .owl-theme .owl-nav {
    margin-top: 0px;
 
}

.singel_blog_details .owl-nav span{
    padding: 0 15px;
    line-height: 37px;
    font-size: 54px;
    color: white;
}

.singel_blog_details button {
    background-color: #3b5998 !important;
}

.singel_blog_details .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -27px;
}

.singel_blog_details .owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 15px;
}

.blog-slider-img{
    width: 100%;
    height: 350px;
}



/*custmize vido*/
.video-main, .video-main video {
    width: 100%;
}
.video-main .img-wreper {
    position: relative;
}
.img-logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    background-size: cover;
    background-image: url('../video/videologo.png');
}
.main-wreper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_sec .about_text h3 {
    max-width: unset;
    margin: 0;
    font-size: 25px;
}
.about_sec .about_text p {
    padding: 0;
}

.video-main {
    box-shadow: 0px 0px 10px rgba(221, 221, 221, 0.67);
}