@{
    Layout = null;
}
<style type="text/css">
    .infoSection {
        margin-left: 200px;
        background-color: #222;
        color: white;
    }

    .infoTitle {
        margin-left: 25px;
    }

    footer a {
        color: white;
    }

    .container {
        padding-top: 50px;
    }

    .infoSection .container-fluid {
        padding: 20px;
    }

    .infoSection .footer_title.infoTitle {
        margin: 0;
    }

    .infoSection .container-fluid ul {
        padding: 0;
        list-style-type: none;
        margin-bottom: 0;
    }

    .infoSection .container-fluid .footer_title .footer_one ul li {
        padding-bottom: 5px;
        padding-left: 20px;
        position: relative;
        display: block;
    }

        .infoSection .container-fluid .footer_title .footer_one ul li:last-child {
            padding-bottom: 0;
        }

        .infoSection .container-fluid .footer_title .footer_one ul li i {
            position: absolute;
            left: 0;
        }

    .infoSection .container-fluid ul li {
        display: inline-block;
    }

    .infoTitle .infoTitleli {
    }

    .help-li li {
        margin-right: 15px;
    }

        .help-li li:last-child {
            margin-bottom: 0;
        }

    .footer_social ul li {
        margin-right: 10px;
    }

    .footer_title h5 {
        font-size: 19px;
        display: inline-block;
        margin-bottom: 5px;
    }

    .footer-wrapper .container-fluid {
        padding: 20px 55px 0;
    }
</style>
<footer class="infoSection footer-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="footer_title infoTitle">
                    <h5>Contact Information</h5>

                    <div class="footer_one">

                        <ul>
                            <li><i class="fa fa-map-marker"></i> ShopRx Labs, Inc.  325 9th St, San Francisco,  CA 94101</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> customerCare@ShopRx.com</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 999-999-9999</li>
                        </ul>

                    </div>


                </div>
            </div>
            <div class="col-md-4 margin_t">
                <div class="footer_title infoTitle">
                    <h5>Helpful Links</h5>
                </div>
                <div class="footer_one">
                    <ul class="help-li">
                        <li><a href="/Home/AboutUs">About Us</a></li>
                        <li><a href="/Home/Faqs">FAQs</a></li>
                        <li><a href="/Home/TermsCondition">Terms and Conditions</a></li>
                        <li class="p-0"><a href="/Home/ContactUs">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer_title infoTitle">
                    <h5>Follow us</h5>
                </div>
                <div class="footer_social">
                    <ul>
                        <li>
                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>