@model RxFair.Dto.Dtos.SystemModuleDto
@{
    ViewData["Title"] = "Access Module Functionality";
    string moduleId = Model.Id.ToString();
}
<main class="app-content">
    <div class="app-title admin_breadcrumb">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
            <li class="breadcrumb-item"><a href="javascript:;" mhref="SystemModule">Access Module Functionality</a></li>
        </ul>
    </div>
    <div class="row pharmacies_form admin_tabel">
        <div class="col-12">
            <div class="database_title d-flex">
                <h3 class="d-flex w-100 align-items-center">@Model.MenuDisplayText Functionality</h3>
                <button type="button" onclick="AddEditAccessFunctionality(0);" class="btn btn-outline-primary con_btn database_btn back_btn d-inline-block float-right active m-0 ml-2">Add Access Module Functionality</button>
                <button type="button" class="btn btn-outline-primary con_btn database_btn back_btn d-inline-block float-right m-0 ml-2 btn-back">Back</button>
            </div>
        </div>
        <div class="col-12">
            <!-- Tab panes -->
            <div class="tab-content pt-0">
                <div class="tile-body">
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-hover table-bordered dataTable no-footer table_bordered_sec" id="dtAccessModuleFunctionality" role="grid" aria-describedby="sampleTable_info">
                            <thead>
                                <tr role="row" class="title_datatable">
                                    <th>Action</th>
                                    <th>Status</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script type="text/javascript">
        var rolesModuleId = @moduleId;
        $(document).ready(function () {
            binAccessModuleFunctionalityList();
        });
        function binAccessModuleFunctionalityList() {
            if ($.fn.DataTable.isDataTable("#dtAccessModuleFunctionality")) {
                $('#dtAccessModuleFunctionality').DataTable().destroy();
            }
            const table = $('#dtAccessModuleFunctionality')
                .DataTable({
                    "sAjaxSource": "/Admin/Master/GetAccessModuleFunctionalityList?id="+rolesModuleId,
                    "order": [[2, ""]],
                    "columns": [
                        {
                            "data": "id",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data) {
                                const content = `<a href="javascript:;" ${dataParams("Edit", "edit", data)} class="dropdown-item action"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                                 <a href="javascript:;" ${dataParams("Delete", "delete", data)} class="dropdown-item action"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>`;
                                return dataTableAction(content);
                            }
                        },
                        {
                            "data": "isActive",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "className": "admin_toggle text-center",
                            "render": function (data, type, row) {
                                return statusToggle(row.id, data);
                            }
                        },
                        {
                            "data": "name",
                            "autoWidth": false,
                            "searchable": true
                        }
                    ]
                });
        };
        $('#dtAccessModuleFunctionality').on("change", ".admin_toggle", function (e) {
            const current = $(e.currentTarget).find("input");
            const id = $(current).data("id");
            $.ajax({
                url: "@Url.Action("ManageAccessFunctionalityStatus", "Master")",
                data: { id: id },
                type: "POST",
                success: function (response) {
                    RxFair.HandleResponse(response);
                },
                error: function(data) {
                }
            });
        });

        $('#dtAccessModuleFunctionality').on("click", ".action", function (e) {
            const flag = $(e.currentTarget).data("flag");
            const id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    AddEditAccessFunctionality(id);
                    break;
                case "delete":
                    DeleteAccessFunctionality(id);
                    break;
                default:
                    break;
            }
        });

        function AddEditAccessFunctionality(id) {
            $("#modalContent").load(`/Admin/Master/AddEditAccessFunctionality?moduleId=${rolesModuleId}&id=${id}`, function () {
                $("#divModal").modal('show');
            });
        }

        function DeleteAccessFunctionality(id) {
            RxFair.Confirm("Delete Functionality", RxFair.typeModel.Warning, "Are you sure?", RxFair.typeModel.Danger, "Yes, delete it!", function () {
                    $.ajax({
                        url: "@Url.Action("RemoveAccessFunctionality", "Master")",
                        data: { id: id },
                        type: "POST",
                        success: function (response) {
                            RxFair.HandleResponse(response);
                            if (response.status === 1) {
                                refreshDatatable('#dtAccessModuleFunctionality', id);
                            }
                        },
                        error: function(data) {
                        }
                    });
                }, function () {
            });
        }
    </script>
}