
@{
    ViewData["Title"] = "Dosage Form";
}
<main class="app-content">
    <div class="app-title admin_breadcrumb">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="\Admin">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Manage Dosage Form</a></li>
        </ul>
    </div>
    <div class="row pharmacies_form admin_tabel">
        <div class="col-12">
            <div class="database_title">
                <h3>
                    Manage Dosage Form
                </h3>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <a href="javascript:;" onclick="AddEditDosageForm(0);" class="btn btn-outline-primary con_btn database_btn active"><i class="fa fa-plus" aria-hidden="true"></i> Add Dosage Form</a>
            </div>
        </div>
        <div class="col-12">
            <!-- Tab panes -->
            <div class="tab-content pt-0">
                <div class="tile-body">
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-hover table-bordered dataTable no-footer table_bordered_sec" id="dtDosageForm" role="grid" aria-describedby="sampleTable_info">
                            <thead>
                                <tr role="row" class="title_datatable">
                                    <th>Action</th>
                                    <th>Status</th>
                                    <th>Dosage Form</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.bindDosageFormList();
        });
        function bindDosageFormList() {
            if ($.fn.DataTable.isDataTable("#dtDosageForm")) {
                $('#dtDosageForm').DataTable().destroy();
            }
            var table = $('#dtDosageForm')
                .DataTable({
                    "sAjaxSource": "/Admin/Master/GetDosageFormList",
                    "columns": [
                        {
                            "data": "id",
                            "width": "5%",
                            "searchable": false,
                            "orderable": false,
                            "render": function (data) {
                                var content = `<a href="javascript:;" ${dataParams("Edit", "edit", data)} class="dropdown-item action"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                                   <a href="javascript:;" ${dataParams("Delete", "delete", data)} class="dropdown-item action"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>`;
                                return dataTableAction(content);
                            }
                        },
                        {
                            "data": "isActive",
                            "width": "5%",
                            "searchable": false,
                            "orderable": false,
                            "className": "admin_toggle",
                            "render": function (data, type, row) {
                                return statusToggle(row.id, data);
                            }
                        },
                        {
                            "data": "dosageForm",
                            "autoWidth": false,
                            "searchable": true
                        }
                    ]
                });
        };

        $('#dtDosageForm').on("change", ".admin_toggle", function (e) {
            const current = $(e.currentTarget).find("input");
            const id = $(current).data("id");
            $.ajax({
                url: "@Url.Action("ManageDosageFormStatus", "Master")",
                data: { id: id },
                type: "POST",
                success: function (response) {
                    RxFair.HandleResponse(response);
                },
                error: function(data) {
                }
            });
        });

        $('#dtDosageForm').on("click", ".action", function (e) {
            const flag = $(e.currentTarget).data("flag");
            const id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    AddEditDosageForm(id);
                    break;
                case "delete":
                    DeleteDosageForm(id);
                    break;
                default:
            }
        });

        function AddEditDosageForm(id) {
            $("#modalContent").load(`/Admin/Master/AddEditDosageForm/${id}`, function () {
                $("#divModal").modal('show');
            });
        }

        function DeleteDosageForm(id) {
            RxFair.Confirm("Delete Dosage Form", RxFair.typeModel.Warning, "Are you sure?", RxFair.typeModel.Danger, "Yes, delete it!", function () {
                    $.ajax({
                        url: "@Url.Action("RemoveDosageForm", "Master")",
                        data: { id: id },
                        type: "POST",
                        success: function (response) {
                            RxFair.HandleResponse(response);
                            window.location.href = "/Admin/Master/DosageForm";
                        },
                        error: function(data) {
                        }
                    });
                }, function () { });
        }
    </script>
}

