<?xml version="1.0" encoding="utf-8" ?>
<!-- Standard Library -->
<configuration>
  <appSettings>
    <add key="PhysicalUrl" value="http://3.15.121.163" />
    <add key="BasePath" value="E:\Projects\RxFair-TFS\RxFair.WindowsService\EmailTemplate"/>
    <add key="LogFilePrefix" value="output" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ScheduledMonthlyDay" value="17"/>
    <add key="ScheduledDailyTime" value="10:30:00"/>
    <add key="ScheduledMonthlyTime" value="16:00:00"/>
    <add key="LogFilePrefix" value="output"/>
    <add key="SqlServerName" value="SUN"/>
    <add key="SqlDbaseName" value="RxFair"/>
    <add key="SqlLoginName" value="RxFair"/>
    <add key="SqlPassword" value="$RxFair123!"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString ="Data Source=SUN;Initial Catalog=RxFair;User Id=RxFair;Password=$RxFair123!;" />
  </connectionStrings>
</configuration>