@model RxFair.Dto.Dtos.ContactDetailView
@{Layout = null;}

<div class="footer_one">

    <ul>
        <li><i class="fa fa-map-marker"></i>@Model?.Address</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>@Model?.Email</li>
        <li class="p-0"><i class="fa fa-phone" aria-hidden="true"></i>@Model?.Telephone</li>
    </ul>

</div>
