@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<!-- breadcrumb-section Start -->
<section class="breadcrumb_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pagi_text">
                    <h3><span>Home</span> / Login</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-section End -->
<!-- login_model Start -->
<section class="login_model">
    <div class="container">
        <div class="row box_shadows">
            <div class="col-lg-6 login_form">
                @if (TempData["Message"] != null)
                {
                    <div class="note">
                        <p>@TempData["Message"]</p>
                    </div>
                }
                <form id="LoginForm" asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="model_title">
                        <h3>Current Customers</h3>
                        <img src="~/rxfairfrontend/images/login_icon.png" class="img-fluid pull-right" alt="">
                    </div>
                    <div class="form-group">
                        <label for="Email">User Name</label>
                        <input asp-for="Email" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" data-parsley-type="email" data-parsley-required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" value="@Model.Password" placeholder="Password" data-parsley-required>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="btnlogin" class="btn btn-outline-primary con_btn">Login <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        <button type="button" onclick="window.location.href = '/Account/ForgotPassword';" class="btn btn-outline-primary con_btn pull-right">Forgot Password<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </form>
                <div class="note">
                    <p>
                        Unauthorized use of this website is punishable by civil and criminal penalties. All interaction with the site is recorded and reviewed daily.
                    </p>
                </div>
            </div>
            <div class="col-md-6 info_model">
                <div class="loginfo_title">
                    <h3>New Pharmacies</h3>
                </div>
                <p>
                    Hello! We’re glad that you found us. Did you know that PharmSaver
                    is the top website for independent pharmacies to purchase brand and generic pharmaceuticals?
                </p>
                <p>
                    But don’t just take our word for it.<span> <a  class="login-hov" href="/NewPharmacy">Create an account for free.</a></span>
                </p>
                <p>
                    Once you create your account you’ll see that we s-t-r-e-t-c-h every one of your dollars, saving you thousands or hundreds of thousands per year.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- login_model End -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $("#btnlogin").click(function () {
            $('#LoginForm').parsley().validate();
            if ($("#LoginForm").parsley().isValid()) {
                return true;
            }
            else {
                return false;
            }
        });
    </script>
}
