
@{
    ViewData["Title"] = "Manage Orders";
}

<main class="app-content">
    <div class="app-title admin_breadcrumb">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="\Admin">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Order</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Manage Orders</a></li>
        </ul>
    </div>
    <div class="row pharmacies_form admin_tabel">
        <div class="col-12">
            <div class="database_title">
                <h3>Manage Orders</h3>
            </div>
        </div>
        <div class="col-12">
            <!-- Tab panes -->
            <div class="tab-content pt-0">
                <div class="tile-body">
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-hover table-bordered dataTable no-footer table_bordered_sec" id="dtManageOrders" role="grid" aria-describedby="sampleTable_info">
                            <thead>
                                <tr role="row" class="title_datatable">
                                    <th>Action</th>
                                    <th>Order ID</th>
                                    <th>Order Date</th>
                                    <th>Total ($)</th>
                                    <th>Distributor</th>
                                    <th>Order Status</th>
                                    <th>Shipping Date</th>
                                    <th>Track</th>
                                    <th>Invoice</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            bindOrder();
        });

        function bindOrder() {
            //if ($.fn.DataTable.isDataTable("#dtMedicineHistory")) {
            //    historyTable.destroy();
            //}
            var OrderTable = $('#dtManageOrders')
                .DataTable({
                    "sAjaxSource": "/Admin/ManageOrder/GetOrders",
                    "order": [[2, "DESC"]],
                    "columns": [
                        {
                            "data": "id",
                            "width": "5%",
                            "searchable": false,
                            "orderable": false,
                            "render": function (data) {
                                const content = `<a href="javascript:;"${dataParams("View order detail", "vieworderdetail", data)} class="dropdown-item action"><i class="fa fa-pencil" aria-hidden="true"></i> View Order Detail</a>`;
                                return dataTableAction(content);
                            }
                        },
                        {
                            "data": "uniqueOrder",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "dateCreated",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "gTotal",
                            "autoWidth": true,
                            "searchable": false,
                            "orderable": true,
                            "render": function (data, type, row) {
                                return `$ ${data}`;
                            }
                        },
                        {
                            "data": "distributor",
                            "autoWidth": true,
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "orderStatus",
                            "autoWidth": true,
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "shippingDateCreated",
                            "autoWidth": true,
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "track",
                            "autoWidth": true,
                            "searchable": false,
                            "orderable": true,
                            "render": function (data, type, row) {
                                return `<a href="http://${row.trackingLink}" target="_blank"> ${data}</a>`;
                            }    
                        },
                        {
                            "data": "id",
                            "width": "8%",
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                return `<a href="javascript:;"  class="icon_btn action DownloadInvoice" data-id="${data}" data-orderId="${row.uniqueOrder}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>`;
                            }
                        }
                    ]
                });
        };

        $('#dtManageOrders').on("click", ".action", function (e) {
            const flag = $(e.currentTarget).data("flag");
            const id = $(e.currentTarget).data("id");
            switch (flag) {
                case "vieworderdetail":
                    ViewOrderDetail(id);
                    break;
                case "download":
                    DownloadInvoice(id);
                    break;
                default:
                    break;
            }
        });

        function DownloadInvoice(data) {
            //DownloadFile(data);
        }

        function ViewOrderDetail(data) {
            //$.get("/Admin/ManageOrder/ViewOrderDetail", { id: data });
            window.location.href = `/Admin/ManageOrder/ViewOrderDetail/${data}`;

        }
        $(document).on("click", ".DownloadInvoice", function () {
            var orderChargeId = $(this).attr("data-id");
            var uniqueId = $(this).attr("data-orderId");
            window.location.href = "/Admin/ManageOrder/DownloadInvoice/" + orderChargeId + "/" + uniqueId;
        });

    </script>
}