@using RxFair.Dto.Enum
@using RxFair.Utility.Extension
@{
    ViewData["Title"] = "Bulk Medicine";
}

<main class="app-content">
    <div class="app-title admin_breadcrumb">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="\Distributor">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Medicine</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Bulk Medicine</a></li>
        </ul>
    </div>
    <div class="row pharmacies_form admin_tabel">
        <div class="col-12">
            <div class="database_title">
                <h3>
                    Upload Bulk Medicine
                </h3>
            </div>
        </div>
        <div class="col-12">
            <!-- Tab panes -->
            <div class="tab-content pt-0">
                <div role="tabpanel" class="tab-pane in active" id="account">
                    <!--Tab Wrapper-->
                    <div class="accordian-block mbf-2 border-0">

                        <div class="accordian-block border-0">
                            <div class="accordian-para acc-show p-0">
                                <form id="frmBulkMedicine" method="post" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="DistributorId" name="DistributorId" value="@User.GetClaimValue(UserClaims.DistributorId)" />
                                    <div class="form-row mt-0">
                                        <div class="form-group col-md-4 mb-0">
                                            <label for="bulkMedicine">Upload Medicine Excel / CSV file *</label>
                                            <label for="bulkMedicine">
                                                <span class="btn btn-outline-secondary upload_btn mr-2">File Upload</span>
                                                <span id="lblBulkMedicine">Upload Medicine.xlsx.</span>
                                                <input style="display: none;" type="file" class="form-control-file" id="bulkMedicine" name="file">
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!--Tab Wrapper close-->

                    <div class="btn_sec mtf-2">
                        <button type="button" class="btn btn-outline-primary con_btn active mr-2" id="btnSave">Save</button>
                        <button type="button" class="btn btn-outline-primary con_btn btn-back">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script type="text/javascript">
        $("#bulkMedicine").change(function () {
            const files = $("#bulkMedicine").get(0).files;
            if (files.length <= 0) {
                RxFair.Error("Error", "please select file");
                return false;
            } else {
                const fileName = $('#bulkMedicine').val();
                var getExt = fileName.split('.');
                getExt = getExt.reverse();
                if ($.inArray(getExt[0].toLowerCase(), RxFair.Exceltypes) === -1) {
                    const fileTypes = RxFair.Exceltypes.join();
                    RxFair.Error("Error",
                        "The filetype you are attempting to upload is not allowed. Allowed Types : " + fileTypes);
                    return false;
                } else {
                $("#lblBulkMedicine").html(files[0].name);
                }
            }
        });

        $("#btnSave").click(function () {
            const files = $("#bulkMedicine").get(0).files;
            var flag = false;

            if ($("#frmBulkMedicine").parsley().isValid()) {
                if (files.length <= 0) {
                    RxFair.Error("Error", "please select file");
                    flag = false;
                } else {
                    if (files.length !== 0) {
                        const fileName = $('#bulkMedicine').val();
                        //$("#lblBulkMedicine").html(files[0].name);
                        var getExt = fileName.split('.');
                        getExt = getExt.reverse();
                        if ($.inArray(getExt[0].toLowerCase(), RxFair.Exceltypes) === -1) {
                            RxFair.Error("Error", "The filetype you are attempting to upload is not allowed.");
                            flag = false;
                        }
                        else {
                            flag = true;
                        }
                    } else {
                        flag = true;
                    }
                }
                if (flag) {
                    if (window.FormData !== undefined) {

                        // Create FormData object
                        // Adding one more key to FormData object
                        var fileData = serializeformToFormData("#frmBulkMedicine");
                        // Looping over all files and add it to FormData object
                        fileData.append("file", files[0]);
                        $.ajax({
                            url: "/Distributor/Medicine/BulkMedicine",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (response) {
                                RxFair.HandleResponse(response);
                                setTimeout(function () {
                                    console.log("code executed");
                                    window.location.href = "/Distributor/Medicine/BulkMedicine";
                                }, 1000);
                            },
                            error: function (response) {
                                RxFair.HandleResponse(response);
                            }
                        });
                    } else {
                        RxFair.Warning("Form Data", "FormData is not supported.");
                    }
                }
            }
        });
    </script>
}